footer {
    background-color: black;
    color: white;
    grid-area: footer;
    padding: 1rem;
    min-height: 3rem;
    
} 

#footerPanic {
    color: red;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
ul a {
    color: white;
}
.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}