* {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: black;
    grid-area: header;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: solid white 2px;
    margin: 0px;
    padding: 0px;
}


.logo {
    justify-content: flex-start;
    width: 5rem
 }
.logo img {
    width:  100%;
}
.nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    width: auto;
    padding: 0px 0px 0px 0px;
}
.nav a {
   text-decoration: none; 
   color: white;
   font-weight: bolder;
   padding: 33px;
}

.nav a:hover {
    color: black;
    background-color: white;
}


/* home css */
body {
    display: grid;
    grid-template-areas: 'header header'
                         'banner banner'
                         'promoText promoPhoto' 
                         'footer footer';

    grid-template-rows: max-content max-content  5fr  1fr;
    /* grid-template-columns: auto max(3) 24fr auto; */
    box-sizing: border-box;
    background-color: green;
    min-height: 100vh;
}
.banner{
    grid-area: banner;
    display: grid;
    place-items: center;
    /* background-image: url(/img/banner/dark-moon.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    /* height: 300px; */
    margin: 0px;
}

#bannerText {
    color: white;
    font-weight: bolder;
    font-size: 200px;
}

#promoText {
    grid-area: promoText;
    background-color: blue;
}

#promoPhoto {
    grid-area: promoPhoto;
    background-color: aliceblue;
}

.promo {
    display: flex;
    background-color: gray;
    align-items: center;

}


/* main {
    grid-area: main;
    background-color: red;
} */


footer {
    background-color: black;
    color: white;
    grid-area: footer;
} 