* {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: black;
    grid-area: header;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: solid white 2px;
    margin: 0px;
    padding: 0px;
}


.logo {
    justify-content: flex-start;
    width: 5rem
 }
.logo img {
    width:  100%;
}
.nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    width: auto;
    padding: 0px 0px 0px 0px;
}
.nav a {
   text-decoration: none; 
   color: white;
   font-weight: bolder;
   padding: 33px;
}

.nav a:hover {
    color: black;
    background-color: white;
}


/* home css */
