* {
    padding: 0px;
    margin: 0px;
}
body {
    box-sizing: border-box;
    margin: 0px;
}
header {
    background-color: black;
    padding: 0px 33px  0px 33px;
}
nav {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: purple;
}


.logo {
    justify-content: flex-end;
    width: 5rem;
    background-color: navy;
 }
.logo img {
    /* background-color: green; */
    width:  100%;
}
.nav {
    justify-content: flex-end;
    align-items: flex-start;
    background-color: green;
    /* height: 100%; */
    /* width: 100%; */
    padding: 0px;
}
ul {
    display: flex;
    background-color: beige ;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
ul div {
    margin-left: 5rem;
    background-color: red;
}