.container {
  color: var(--seconday-text-color);
  display: grid;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/media/img/banner/us1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: var(--seconday-text-color);
}

.team-members-images {
  display: grid;
  grid-template-areas: "tamer gloria emmanuel vicky";
  gap: 5px;
}

.members {
  width: 100%;
  background-color: var(--secondary-light-bg-color);
  color: var(--primary-text-color);
  height: auto;
}

.members h2,
h4 {
  text-align: center;
  font-weight: bolder;
}

.members p {
  padding: 10px;

}

.team-mission p {
  width: 50vw;
}

.img-person {
  height: 300px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

#tamer {
  grid-area: tamer;
}

#gloria {
  grid-area: gloria;
}

#emmanuel {
  grid-area: emmanuel;
}

#vicky {
  grid-area: vicky;
}

.team {
  white-space: pre-line;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
      display: none;
  }

  .container {
      width: 100%;
  }

  .team-members-images {
      grid-template-areas:
    "tamer"
    "gloria"
    "emmanuel"
    "vicky";
      gap: 7px;
  }

  .team-mission {
      padding: 5%;
  }

  .team-mission p {
      width: 100%;
      
  }
  p {
    font-size: var(--small-font-size);
  }
   h2, h3 {
    font-size: var(--medium-font-size);
  
  }

  .team-members h2 {
      padding: 5%;
  }

  .members {
      width: 100%;
      margin: auto;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .banner {
      display: none;
  }

  .container {
      width: 100%;
  }

  .team-members-images {
      grid-template-areas:
    "tamer"
    "gloria"
    "emmanuel"
    "vicky";
      gap: 7px;
  }

  .team-mission {
      padding: 5%;
  }

  .team-mission p {
      width: 100%;
      
  }
  p {
    font-size: var(--medium-font-size);
  }
   h2, h3 {
    font-size: var(--large-font-size);
  
  }

  .team-members h2 {
    font-size: 1.5rem;
    text-align: center;
      padding: 5%;
  }

  .members {
      width: 80%;
      margin: auto;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
      display: none;
  }

  .container {
      width: 100%;
  }

  .team-members-images {
      grid-template-areas:
    "tamer"
    "gloria"
    "emmanuel"
    "vicky";
      gap: 7px;
  }

  .team-mission {
      padding: 5%;
  }

  .team-mission p {
      width: 100%;
      
  }
  p {
    font-size: var(--medium-font-size);
  }
   h2, h3 {
    font-size: var(--large-font-size);
  
  }

  .team-members h2 {
    font-size: 2.5rem;
    text-align: center;
      padding: 5%;
  }

  .members {
      width: 50%;
      margin: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .banner {
      display: none;
  }

  .container {
      width: 100%;
  }

  .team-members-images {
      grid-template-areas:
    "tamer gloria"
    "emmanuel vicky";
      /* gap: 7px; */
  }

  .team-mission {
      padding: 5%;
  }

  .team-mission p {
      width: 100%;
      
  }
  

  .team-members h2 {
    font-size: 2.5rem;
    text-align: center;
      padding: 5%;
  }

  .members {
      height: 700px;
      margin: auto;
  }
}