body {
    color: var(--primary-text-color);
    line-height: 1.5;
}
.centered-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 25px;
}

.team {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.cover img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.top-left-img img {
    width: 250px;
    height: 250px;
    float: right;
}

.team-members-images {
    display: flex;
    margin-top: 1rem;
    padding: 20px;
    border: 1px ;
}

.team-members-images img {
    flex: 33.33%;
    padding: 5px;
    width: 25%;
}

.image-and-text-container {
    display: flex;
    align-items: center;
}

.team-members figure img {
    width: 70%;
    height: 35%;
    object-fit: fill;
}

.team-members figure {
    max-width: 25%;
}

.team-mission .goal ul {
    width: 45%;
    margin: 1.5rem;
}

.story p {
    text-align: justify;
    max-width: 650px;
}

.team-members h3 {
    line-height: var(--large-font-size);
    text-align: center;
}

.team-members dt {
    text-align: unset;
}

.team-members dd {
    text-align: unset;
    max-width: 300px;
}

@media screen and (max-width: 500px) {
    .team-members-images img {
        width: 100%;
    }
}
figure {
    text-align: center;
}







