body {
    color: var(--primary-text-color);
    line-height: 1.5;
    background: linear-gradient(to left, pink, white);
}

.centered-heading {
    text-align: center;
}

.top-left-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
}

.team-members-images {
    display: flex;
}

.team-members-images img {
    flex: 33.33%;
    padding: 5px;
    border-radius: 50%;
}

.image-and-text-container {
    display: flex;
    align-items: center;
}

.team-members figure img {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.team-members figure {
    max-width: 35%;
}

.team-mission .goal ul {
    font-style: oblique;
}

.story p {
    text-align: justify;
    max-width: 650px;
}

.team-members h3 {
    line-height: var(--large-font-size);
    text-align: center;
}

.team-members dt {
    text-align: unset;
}

.team-members dd {
    text-align: unset;
    max-width: 300px;
}

@media screen and (max-width: 500px) {
    .team-members-images img {
        width: 100%;
    }
}






