.container {
  display: grid;
  grid-template-areas:
  "links logo"
  "instruction instruction";
  grid-template-rows: auto auto;
  width: 100%;
  height: 100%;
}

.size {
  min-width: 40vw;
}

.links-download {
  grid-area: links;
  color: var(--seconday-text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  text-align: center;
}

.links-download h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.background-download {
  width: 100%;
  background-image: url(/media/img/gifs/explosion2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center;
}

.logo-download {
  grid-area: logo;
  background-image: url(/media/img/logo/image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 500px;
  /* padding: 10rem; */
}

button {
  width: 30%;
  padding: 10px;
  background: white;
  margin: 30px auto 0 auto;
  border-radius: 13px;
  font-weight: bolder;
}

button:hover {
  color: var(--logo-text-color);
  background: var(--primary-bg-color);
  border-color: var(--border-color);
}

.instruction-download {
  grid-area: instruction;
  color: var(--seconday-text-color);
  background: var(--primary-bg-color);
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  border-bottom: solid var(--border-light-color) 3px;
}

.instruction-title {
  color: var(--primary-text-color);
  padding: 0.1px;
  background-color: var(--secondary-bg-color);
}

.instructions-container {
  display: grid;
  grid-template-areas: 'text1 text2';
}

.instructions-container p {
  word-wrap: break-word;
  padding: 10px;
}

.instruction-text-1 {
  grid-area: text1;
}

.instruction-text-2 {
  grid-area: text2;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
      grid-template-areas:
    "links links"
    "instruction instruction";
  }

  
  p {
    font-size: var(--small-font-size);
  }
  h1 {
    
  }
   h2, h3 {
    font-size: var(--small-font-size);
  
  }

  .size {
      width: 100vw;
  }

  .links-download {
      padding: 20px;
  }

  .links-download h1 {
    font-size: var(--medium-font-size);
      margin: 0;
  }

  .links-download button {
    font-size: var(--mini-font-size);
      margin: 0 auto 0 auto;
  }

  .logo-download {
      display: none;
  }

  .instruction-title {
      font-size: 13px;
  }

  .instructions-container {
      grid-template-areas: 'text1' 'text2';
      padding: 5px;
  }
  .instructions-container p {
    font-size: var(--mini-font-size);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
      grid-template-areas:
    "links links"
    "instruction instruction";
  }

  
  p {
    font-size: var(--medium-font-size);
  }
  h1 {
    
  }
   h2, h3 {
    font-size: var(--medium-font-size);
  
  }

  .size {
      width: 100vw;
  }

  .links-download {
      padding: 20px;
  }

  .links-download h1 {
    font-size: var(--large-font-size);
      margin: 0;
  }

  .links-download button {
    font-size: var(--small-font-size);
      margin: 0 auto 0 auto;
  }

  .logo-download {
      display: none;
  }

  .instruction-title {
      font-size: 13px;
  }

  .instructions-container {
      grid-template-areas: 'text1' 'text2';
      padding: 5px;
  }
  .instructions-container p {
    font-size: var(--small-font-size);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
      grid-template-areas:
    "links links"
    "instruction instruction";
  }

  
  p {
    font-size: var(--medium-font-size);
  }
  h1 {
    
  }
   h2, h3 {
    font-size: var(--medium-font-size);
  
  }

  .size {
      width: 100vw;
  }

  .links-download {
      padding: 20px;
  }

  .links-download h1 {
    font-size: var(--large-font-size);
      margin: 0;
  }

  .links-download button {
    font-size: var(--small-font-size);
      margin: 0 auto 0 auto;
  }

  .logo-download {
      display: none;
  }

  .instruction-title {
      font-size: 13px;
  }

  .instructions-container {
      grid-template-areas: 'text1' 'text2';
      padding: 5px;
  }
  .instructions-container p {
    font-size: var(--small-font-size);
  }
}


