.container {
  display: grid;
  grid-template-areas:
    "links logo"
    "instruction instruction";
  grid-template-rows: auto auto;
  width: 100%;
  height: 100%;
}
.size {
  width: 50vw;
  /* height: 90vh; */
}
.links-download {
  grid-area: links;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
}

.links-download h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.background-download {
  width: 50vw;
  background-image: url(/img/gifs/explosion2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center;
}

.logo-download {
  grid-area: logo;
  background-image: url(/img/logo/image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-color: black; */
  width: 100%;
  height: 500px;
  /* padding: 10rem; */
}

button {
  width: 30%;
  padding: 10px;
  background: white;
  margin: 30px auto 0px auto;
  border-radius: 13px;
  font-weight: bolder;
}

button:hover {
  color: red;
  background: black;
  border-color: gray;
}

.instruction-download {
  grid-area: instruction;
  color: white;
  background: black;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  border-bottom: solid lightslategrey 3px;
}

.instruction-title {
  color: black;
  padding: 0.1px;
  background-color: white;
}

.instructions-text p {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-areas:
      "links links"
      "instruction instruction";
  }

  .size {
    width: 100vw;
  }

  .links-download {
    padding: 20px;
  }
  .links-download h1 {
    margin: 0px;
  }

  .links-download button {
    margin: 0px auto 0px auto;
  }
  .logo-download {
    display: none;
  }
}
