main {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-areas: 'info img'
                         'screen screen';
    width: 100%;
    height: 100%;
}
.size {
    width: 50vw;

}
.bold-game {
    font-weight: bold;
}
.info-game {
    grid-area: info;
    text-align: justify;
    padding: 10px;
}
.info-game p {
   line-height: 1.5; 

}

.img-board {
    grid-area: img;
    background: url(/img/logo/board-logo.png);
    background-size: cover;
    height: 100%;
    width: 50vw;
    background-repeat:  no-repeat;
}

.screenshots-game {
grid-area: screen;
width: 100%;
}

.screenshots-title {
    background-color: white;
    color: black;
    text-align: center;
    height: 100%;
    padding: .1px;

}

.screenshots-container {
    background-color: rebeccapurple;
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .container {
      grid-template-areas:
        "info info"
        "screen screen";
    }

    .img-board {
        display: none;
    }
    .size {
        width: 100vw;
    }

    .info-game {
        padding: 10px;
    }
}