main {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-areas: 'info img'
                         'screen screen';
    width: 100%;
    height: 100%;
}
.size {
    min-width: 49vw;
}
.bold-game {
    font-weight: bold;
}
.info-game {
    grid-area: info;
    text-align: justify;
    padding: 10px 20px;
}
.info-game p {
   line-height: 1.5; 

}

.img-board {
    grid-area: img;
    background: url(/img/logo/board-logo.png);
    background-size: cover;
    background-position: fixed;
    height: auto;
    width: 100%;
    
    background-repeat:  no-repeat;
}
/* .img-board img {
    width: 100%;
    height: 100%;
} */
.screenshots-game {
grid-area: screen;
width: 100%;
}

.screenshots-title {
    background-color: white;
    color: black;
    text-align: center;
    height: auto;
    padding: .1px;

}

.screenshots-container {
    background-color: rebeccapurple;
    height:auto;
    width: 100%;

    display: grid;
    grid-template-areas: 'img1 img2 img3'
                         'img4 img5 img6';
    gap: 7px;
    border: 7px solid rebeccapurple;
}

.screenshots-img img {
    height: 100%;
    width: 100%;
}
#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}
#img5 {
    grid-area: img5;
}
#img6 {
    grid-area: img6;
}

@media screen and (max-width: 1000px) {
    .container {
      grid-template-areas:
        "info info"
        "screen screen";
    }

    .img-board {
        display: none;
    }
    .size {
        width: 100vw;
    }

    .info-game {
        padding: 10px;
    }

    .info-game h1 {
        font-size: 25px;
    }
    .screenshots-container {
        display: flex;
        flex-direction: column;
        border: none;
    }
}