.banner {
    grid-area: banner;
    display: grid;
    place-items: center;
    background-image: url(/media/img/gifs/explosion.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-bg-color);
    margin: 0px;
    
}

.banner-text {
    color: white;
    font-weight: bolder;
    font-size: 200px;
}

.promo {
    min-width: 40vw;
}

.promo-text {
    display: block;
    grid-area: promoText;
    padding: 10px;
    background-color: var(--primary-bg-color);
    color: var(--seconday-text-color);
}

.promo-photo {
    grid-area: promoPhoto;
    background-color: aliceblue;
    height: 100%;

}

.container {
    display: grid;
    grid-template-areas:
                        'banner banner'
                        'promoText promoPhoto';
    width: 100%;
    height: 100%;

}

.promo-text h1 {
    font-size: 2rem;
    margin: 2rem;
}

.promo-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem;
}

.mine-video {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .banner-text {
        display: none;
    }

    .container {
        display: grid;
        grid-template-areas:
                            'banner'
                            'promoText'
                            ' promoPhoto';
        width: 100%;
        height: 100%;
        

    }
    .promo-text {
        padding: 0px;
        margin: 1rem;
    }

    .promo-text h1 {
        width: 100%;
        font-size: 0.9rem;
        /* margin: 0px; */
    }

    .promo-text p {
        font-size: 0.9rem;
        padding: 0px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .banner-text {
        display: none;
    }
    
    .promo-text {
        width: 100%;
    }

    .promo-text h1 {
        width: 100%;
        font-size: 1.1rem;
        word-break:keep-all;
    }

    .promo-text p {
        font-size: 0.9rem;
    }

    .container {
        display: grid;
        grid-template-areas:
                            'banner'
                            'promoText'
                            ' promoPhoto';
        width: 100%;
        height: 100%;

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .banner-text {
        display: none;
    }
    
    .promo-text {
        width: 100%;
    }

    .promo-text h1 {
        width: 100%;
        font-size: 1.1rem;
        word-break:keep-all;
    }

    .promo-text p {
        font-size: 1rem;
    }

    .container {
        display: grid;
        grid-template-areas:
                            'banner'
                            'promoText'
                            ' promoPhoto';
        width: 100%;
        height: 100%;

    }
}

@media screen and (min-width: 1026px) and (max-width: 1200px) {
    .banner {
        height: 200px;
    }
    .banner h1 {
        font-size: 6rem;
    }
    .promo-text {
        width: 100%;
    }

    .promo-text h1 {
        width: 100%;
        font-size: 1.1rem;
        word-break:keep-all;
    }

    .promo-text p {
        font-size: 1rem;
    }

    .container {
        display: grid;
        grid-template-areas:
                            'banner'
                            'promoText'
                            ' promoPhoto';
        width: 100%;
        height: 100%;

    }
    
}
