.banner {
    grid-area: banner;
    display: grid;
    place-items: center;
    /* background-image: url(/img/banner/dark-moon.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    /* height: 300px; */
    margin: 0px;
}

#banner-text {
    color: white;
    font-weight: bolder;
    font-size: 200px;
}

.promo {
    min-width: 50vw;

}

#promo-text {
    display: block;
    grid-area: promoText;
    padding: 10px;
    background-color: black;
    color: white;
}

#promo-photo {
    grid-area: promoPhoto;
    background-color: aliceblue;

}

main {
    grid-area: main;
    /* display: grid;
    grid-template-areas: 'promoText promoPhoto'; */
    /* height: 100vh; */

}

#promo-text h1 {
    font-size: 2rem;
}

#promo-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem;
}

#mineVideo {
    width: 100%;
    height: 100%;
}
