.banner {
    grid-area: banner;
    display: grid;
    place-items: center;
    background-image: url(/img/gifs/explosion.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0;
}

.banner-text {
    color: white;
    font-weight: bolder;
    font-size: 200px;
}

.promo {
    min-width: 40vw;
}

.promo-text {
    display: block;
    grid-area: promoText;
    padding: 10px;
    background-color: var(--primary-bg-color);
    color: var(--seconday-text-color);
}

.promo-photo {
    grid-area: promoPhoto;
    background-color: aliceblue;
    height: 100%;

}

.container {
    display: grid;
    grid-template-areas:
                        'banner banner'
                        'promoText promoPhoto';
    width: 100%;
    height: 100%;

}

.promo-text h1 {
    font-size: 2rem;
    margin: 2rem;
}

.promo-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem;
}

.mine-video {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .banner-text {
        display: none;
    }

    .promo-text h1 {
        width: 100%;
        font-size: 1.3rem;
        margin: 2rem;
    }

    .container {
        display: grid;
        grid-template-areas:
                            'banner'
                            'promoText'
                            ' promoPhoto';
        width: 100%;
        height: 100%;

    }
}