@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");



#banner {
    background-image: url(/img/gifs/dark-space.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100%; */
}

#highscores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-self: center; */
    height: 200px;
    color: white;
    /* margin-bottom: 20%; */
    /* background-color: aquamarine; */
    height: 100%;
}

#bannerText {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    color: red;
    font-size: 80px;
    height: auto;
}

table {
    /* margin: auto; */
    background: rgb(97, 41, 240, 0.3);
    color: white;
   border-radius: 13px; 
   margin-bottom: 5% ;
}

table th,td {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    /* border: solid white 2px; */
}

table th {
    text-align: left;
}


@media screen and (max-width: 1000px) {

    #banner {
        height:  100%;
        margin: 0px;
    }
    #bannerText {
        /* margin-top: 20rem; */
        display: none;
        /* margin: 0%;
        color: blue;
        height: 100%;
        font-size: 40px;
        background-color: red;
        width: 100%; */
    }
    table {
        height: 400px;
        border-radius:0%;
        width: 100%;
        margin: 0%;
    }
    table th, td {
        font-size: 100%; 
       }
   

    #highscores{
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    
}