@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");


#banner {
    background-image: url(/media/img/gifs/dark-space.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#highscores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--seconday-text-color);
    height: 100%;
}

#bannerText {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    color: var(--logo-text-color);
    font-size: 80px;
    height: auto;
}

table {
    background: rgb(97, 41, 240, 0.3);
    color: var(--seconday-text-color);
    border-radius: 13px;
    margin-bottom: 5%;
}

table th, td {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    padding: 10px;
}

table th {
    text-align: left;
}

@media screen and (max-width: 1000px) {

    #banner {
        height: 100%;
        margin: 0;
    }

    #bannerText {
        display: none;
    }

    table {
        height: 400px;
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    table th, td {
        font-size: 100%;
    }


    #highscores {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {

}