main {
    color: var(--seconday-text-color);
}

.container {
    display: grid;
    grid-template-areas: 'info img'
                         'screen screen';
    width: 100%;
    height: 100%;
}

.size {
    min-width: 49vw;
}

.bold-game {
    font-weight: bold;
}

.info-game {
    grid-area: info;
    text-align: justify;
    padding: 10px 20px;
}

.info-game p {
    line-height: 1.5;
}

.img-board {
    grid-area: img;
    background: url(/media/img/logo/board-logo.png);
    background-size: cover;
    background-position: fixed;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}

.screenshots-game {
    grid-area: screen;
    width: 100%;
}

.screenshots-title {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    height: auto;
    padding: 0.1px;
}

.screenshots-container {
    background-color: rebeccapurple;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-areas: 'img1 img2'
                         'img3 img4 '
                         'img5 img6';
    gap: 7px;
    border: 7px solid rebeccapurple;
}

.screenshots-img img {
    height: 100%;
    width: 100%;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}

#img5 {
    grid-area: img5;
}

#img6 {
    grid-area: img6;
}
